html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.4rem;
  border-radius: 0px;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4,
i {
  font-size: 1.6rem;
}

h5,
p,
span,
li,
a {
  font-size: 1.4rem;
}

li {
  list-style: none;
  text-transform: capitalize;
}

a {
  text-decoration: none;
  display: inline-block;
  color: black;
}

button {
  border: none;
  outline: none;
  text-align: center;
  font-weight: bold;
  font-size: 1.6rem;
}

* {
  font-family: sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Poppins', Arial, sans-serif;
}

p,
li,
a,
span {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: black;
  color: white;
}

.page-container {
  width: 100vw;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9;
  overflow-y: scroll;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 5vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 1349px;
}

.intro {
  margin-top: 15vh;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.intro .intro-text span {
  display: block;
  font-family: 'Poppins', 'Montserrat', Helvetica, sans-serif;
  font-size: clamp(10px, 7vw, 90px);
  font-weight: 900;
  line-height: Min(9.5vw, 110px);
  text-transform: uppercase;
}

.intro .intro-text .iam {
  color: #6d6d6d;
  display: inline-block;
}

.info-list {
  margin-top: 6vh;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.info-list .location,
.info-list .status {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
}

.info-list .pin-icon {
  width: 20px;
  height: auto;
  fill: #ff3636;
}

.info-list .circle {
  background-color: #05b802;
  border-radius: 100%;
  display: inline-block;
  width: 18px;
  height: 18px;
  -webkit-animation: circle 4s linear infinite;
          animation: circle 4s linear infinite;
  -webkit-box-shadow: 0 0 8px 2px #05b802;
          box-shadow: 0 0 8px 2px #05b802;
}

.info-list .text {
  text-transform: capitalize;
  margin-left: 15px;
  font-size: 1.9rem;
}

@-webkit-keyframes circle {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes circle {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

.info {
  margin-top: 6vh;
  width: Min(100%, 650px);
}

.info .text {
  font-size: 2rem;
  line-height: 1.5;
  padding: 15px 0;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

@media only screen and (min-width: 768px) {
  .info-list .pin-icon {
    width: 24px;
  }
  .info-list .circle {
    width: 22px;
    height: 22px;
  }
  .info-list .text {
    font-size: 2rem;
  }
  .info .text {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  .info-list {
    margin-top: 10vh;
  }
  .info-list .pin-icon {
    width: 25px;
  }
  .info-list .circle {
    width: 24px;
    height: 24px;
  }
  .info-list .text {
    font-size: 2.5rem;
  }
  .info {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-top: 10vh;
  }
}

@media only screen and (min-width: 1400px) {
  .main {
    margin: 0 auto;
  }
  .intro .text span {
    font-size: clamp(10px, 7.5vw, 115px);
  }
}

.header {
  height: 64px;
  width: 100%;
  padding: 20px;
  position: fixed;
  z-index: 100;
  left: 0;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  width: 40px;
  height: 24px;
  -webkit-transform: rotate(0 deg);
          transform: rotate(0 deg);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.icon .bar {
  width: 40px;
  height: 4px;
  background-color: white;
  display: inline-block;
  -webkit-transition: width 0.3s 0.6s ease, background-color 0s 0.7s ease;
  transition: width 0.3s 0.6s ease, background-color 0s 0.7s ease;
}

.icon .bar1,
.icon .bar2 {
  margin-bottom: 6px;
}

.icon .bar2 {
  width: 25px;
}

.icon .bar4 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  background-color: red;
  position: absolute;
  width: 4px;
  height: 0;
  left: 50%;
  top: -8px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: height 0.2s 0.4s ease;
  transition: height 0.2s 0.4s ease;
}

.icon:hover {
  cursor: pointer;
}

.opened {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.3s 0.6s;
  transition: -webkit-transform 0.3s 0.6s;
  transition: transform 0.3s 0.6s;
  transition: transform 0.3s 0.6s, -webkit-transform 0.3s 0.6s;
}

.opened .bar1,
.opened .bar3 {
  width: 0;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.opened .bar2 {
  width: 40px;
  background-color: red;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.opened .bar4 {
  background-color: red;
  height: 40px;
  -webkit-transition: height 0.3s 0.3s, background-color 0s 0.3s;
  transition: height 0.3s 0.3s, background-color 0s 0.3s;
}

footer {
  width: 100%;
  overflow: hidden;
  margin: 10vh 0 5vh;
}

.marquee-container {
  -webkit-animation: footerMarquee 8s linear infinite;
          animation: footerMarquee 8s linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.marquee-container .footer-marquee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.marquee-container .footer-marquee li {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: clamp(50px, 8vw, 100px);
  font-style: italic;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 3vw;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px white;
}

.marquee-container .footer-marquee li:hover {
  cursor: pointer;
  -webkit-text-fill-color: white;
}

@-webkit-keyframes footerMarquee {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(-33.33%, 0);
            transform: translate(-33.33%, 0);
  }
}

@keyframes footerMarquee {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(-33.33%, 0);
            transform: translate(-33.33%, 0);
  }
}

@media only screen and (min-width: 768px) {
  footer .marquee-container .footer-marquee li {
    -webkit-text-stroke: 2px white;
  }
}

.welcome-container {
  height: calc(1000px + 100vh);
  position: relative;
  top: 0;
  bottom: 0;
  z-index: 11;
  background-color: white;
  display: none;
}

.welcome-scroll-text {
  font-size: 2rem;
  color: #6d6d6d;
  position: absolute;
  top: 30px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 2;
  -webkit-animation: scrollTextAnim 1s linear 3;
          animation: scrollTextAnim 1s linear 3;
}

.main-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  letter-spacing: 1px;
  font-family: 'Oswald';
}

.welcome {
  height: 100vh;
  width: 100%;
  position: fixed;
}

.box {
  height: 50%;
  overflow: hidden;
  background-color: white;
}

.welcome-text {
  font-size: clamp(55px, 22vw, 150px);
  text-transform: uppercase;
  text-align: center;
  color: black;
  letter-spacing: 1px;
  font-family: 'Oswald', sans-serif;
}

.top-text {
  position: relative;
  top: 100%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.bottom-text {
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

@-webkit-keyframes scrollTextAnim {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scrollTextAnim {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (min-width: 900px) {
  .welcome-container {
    display: block;
  }
}

.nav-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99;
  -webkit-transition: opacity 0s 0.5s;
  transition: opacity 0s 0.5s;
}

.nav-menu-close {
  display: none;
}

.nav-menu-open {
  -webkit-transition: opacity 0s;
  transition: opacity 0s;
  background-color: white;
  -webkit-transition: background-color 0s 0.5s;
  transition: background-color 0s 0.5s;
}

.nav-menu-open .box1,
.nav-menu-open .box2,
.nav-menu-open .box3,
.nav-menu-open .box4 {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.nav-boxes-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

.nav-box {
  width: 50%;
  height: 50%;
  background-color: white;
}

.box1 {
  position: relative;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.box2 {
  position: relative;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.box3 {
  position: relative;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.box4 {
  position: relative;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.menu {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 64px 0;
  overflow-y: scroll;
  display: none;
}

.menu-item {
  margin-top: Min(4vh, 80px);
  padding-left: 5vw;
  overflow: hidden;
}

.marquee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.marquee::before,
.marquee-item {
  font-size: clamp(60px, 10vw, 115px);
  font-weight: 800;
  text-transform: uppercase;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  color: black;
  padding: 0 4vw;
  letter-spacing: 2px;
  line-height: 1.2;
}

.marquee[data-menuItem]::before {
  content: attr(data-menuItem);
}

.marquee-item {
  display: none;
}

@-webkit-keyframes marquee {
  to {
    -webkit-transform: translate3d(-16.66%, 0, 0);
            transform: translate3d(-16.66%, 0, 0);
  }
}

@keyframes marquee {
  to {
    -webkit-transform: translate3d(-16.66%, 0, 0);
            transform: translate3d(-16.66%, 0, 0);
  }
}

@media only screen and (min-width: 768px) {
  .marquee:hover {
    -webkit-animation: marquee 2s linear infinite;
            animation: marquee 2s linear infinite;
    cursor: pointer;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px black;
  }
  .marquee:hover .marquee-item {
    display: block;
    font-family: 'Oswald';
  }
}

@media only screen and (min-width: 1024px) {
  .marquee::before,
  .marquee-item {
    letter-spacing: 5px;
  }
}
