body {
  background-color: $bg-color;
  color: white;
}
.page-container {
  width: 100vw;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9;
  overflow-y: scroll;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 0 5vw;
  // width: Min(fit-content, 1349px);
  width: fit-content;
  max-width: 1349px;
}

// INTRODUCTION
.intro {
  margin-top: 15vh;
  width: fit-content;
  margin-left: 2vw;
  .intro-text {
    span {
      display: block;
      font-family: 'Oswald', 'Montserrat', Helvetica, sans-serif;
      font-size: clamp(10px, 9.5vw, 110px);
      font-weight: 900;
      line-height: Min(12vw, 160px);
      text-transform: uppercase;
    }
    .iam {
      color: $text-color-2;
      display: inline-block;
    }
  }
}

// INFORMATION list
.info-list {
  margin-top: $space-height;
  width: fit-content;
  .location,
  .status {
    align-items: center;
    display: flex;
    padding: 10px 0;
  }
  .pin-icon {
    width: 20px;
    height: auto;
    fill: #ff3636;
  }
  .circle {
    background-color: $circle-green;
    border-radius: 100%;
    display: inline-block;
    width: 18px;
    height: 18px;
    animation: circle 4s linear infinite;
    box-shadow: 0 0 8px 2px $circle-green;
  }
  .text {
    text-transform: capitalize;
    margin-left: 15px;
    font-size: 1.9rem;
  }
}
@keyframes circle {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(0.9);
  }
}

// INFORMATION
.info {
  margin-top: $space-height;
  width: Min(100%, 650px);
  .text {
    font-size: 2rem;
    line-height: 1.5;
    padding: 15px 0;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
  }
}

@media only screen and (min-width: 768px) {
  .intro {
    margin-left: 5vw;
    .into-text span {
      font-size: clamp(10px, 9vw, 110px);
    }
  }
  .info-list {
    .pin-icon {
      width: 24px;
    }
    .circle {
      width: 22px;
      height: 22px;
    }
    .text {
      font-size: 2rem;
    }
  }
  .info .text {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  .info-list {
    margin-top: 10vh;
    .pin-icon {
      width: 25px;
    }
    .circle {
      width: 24px;
      height: 24px;
    }
    .text {
      font-size: 2.5rem;
    }
  }
  .info {
    align-self: flex-end;
    margin-top: 10vh;
  }
}

@media only screen and (min-width: 1400px) {
  .main {
    margin: 0 auto;
  }
  .intro .intro-text span {
    font-size: clamp(10px, 8vw, 150px);
  }
}
