footer {
  width: 100%;
  overflow: hidden;
  margin-top: 10vh;
}
.marquee-container {
  animation: marquee 8s linear infinite;
  display: flex;
  margin-bottom: 10px;
  width: fit-content;
  .marquee {
    display: flex;
    li {
      color: white;
      font-size: clamp(35px, 5vw, 100px);
      font-style: italic;
      font-weight: 700;
      letter-spacing: 2px;
      padding: 2vw;
      text-transform: uppercase;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 0.5px white;
      &:hover {
        cursor: pointer;
        -webkit-text-fill-color: white;
      }
    }
  }
}

@keyframes marquee {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-33.33%, 0);
  }
}
